.Employees {
  text-align: center;
}

.deleteButton{
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: red;
    cursor: pointer;
}

.deleteButton:hover{
    color: crimson;
}
