html,
* {
  box-sizing: border-box;
}

body,
input {
  font: caption;
}

#addEmp{
  margin: 20px 0;
  background-color: green;
  color: white;
}


.Application {
  margin: 0 auto;
  width: 60%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
